// Dark theme colors
$color-primary: #8761FA;
$color-secondary: #ff3ddf;
$color-bg: #181726;
$color-fg: #1b1a34;
$color-text-normal: #d8d2d2;
$color-text-accent: #ffffff;

// Font families
$font-accent: "Marcellus", "Georgia", serif;
$font-regular: "Outfit", "Trebuchet MS", sans-serif;

// Defaults
$default-line-height: 1.6;
$default-font-size: 62.5%;

// Text sizes
$text-primary: 4.2rem;
$text-regular: 1.5rem;

// Paddings
$container-padding: 5vw;