*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Outfit", "Trebuchet MS", sans-serif;
  font-size: 1.5rem;
  line-height: 1.6;
  background-color: #181726;
  color: #d8d2d2;
  background-image: linear-gradient(to bottom, #181726, #181726);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.section {
  margin: calc(5vw + 5rem) 0;
}
.section__heading {
  margin-bottom: 5rem;
  letter-spacing: 0.25rem;
}

.heading-primary {
  font-size: 4.2rem;
  line-height: 1.2;
}

.heading-secondary {
  font-size: 2.6rem;
}

.heading-tertiary {
  font-size: 2rem;
}

.text-regular {
  font-size: 1.5rem;
}

.text-big {
  font-size: 1.7rem;
}

.text-small {
  font-size: 1.2rem;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 5vw;
}

.divider {
  border: none;
  border-bottom: 0.5rem dotted #d8d2d2;
  width: 2.5rem;
  margin: 0 auto;
}

.bg-fg {
  background-color: #1b1a34;
}

.text-shadow {
  text-shadow: 0 0 0.3rem #181726;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-italic {
  font-style: italic;
}

.font-accent {
  font-family: "Marcellus", "Georgia", serif;
}

.font-regular {
  font-family: "Outfit", "Trebuchet MS", sans-serif;
}

.color-accent {
  color: #ffffff;
}

.color-primary {
  color: #9e9aef;
}

.center-text {
  text-align: center;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.header__mesh-gradient {
  height: 100vh;
  background-color: #181726;
  background-image: radial-gradient(farthest-corner at 40% 35%, #9e9aef 0px, transparent 80%), radial-gradient(at 60% 10%, rgba(255, 94, 0, 0.9019607843) 0px, transparent 50%);
  filter: blur(15rem);
  -webkit-filter: blur(15rem);
}
.header__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.header__profile-img {
  width: 15rem;
  border-radius: 50%;
  border: 0.5rem solid #ffffff;
}

.skills__list {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  justify-content: center;
}
.skills__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2.5rem;
  border-radius: 0.5rem;
}
.skills__item--img {
  height: 5rem;
}

.experience__list {
  display: flex;
  flex-direction: column;
}
.experience__item {
  display: flex;
  margin: 0 auto;
}
.experience__item--role {
  display: flex;
  flex-direction: column;
  width: calc(50% - 0.75rem);
  text-align: right;
  padding-right: 5rem;
  border-right: 0.5rem dashed #1b1a34;
}
.experience__item--dot {
  color: rgba(255, 94, 0, 0.25);
  align-self: center;
  transform: translateX(-1rem);
}
.experience__item--company {
  display: flex;
  flex-direction: column;
  width: calc(50% - 0.75rem);
  padding-left: 5rem;
}
.experience__item--company--name {
  display: flex;
  gap: 1rem;
  align-items: center;
}
