@media screen and (min-width: 480px) {
    #btn-nav-toggle {
        display: none;
    }
    .header__nav {
        justify-content: center !important;

        &--menu {
            display: flex !important;
            flex-direction: row !important;

            position: relative !important;
            right: auto !important;
            top: auto !important;
            
            height: 5rem !important;
            padding: 0 space(6) !important;
            border-radius: space(10) !important;
        }
    }
}