*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: $default-font-size;
}

body {
    box-sizing: border-box;
    font-family: $font-regular;
    font-size: $text-regular;
    line-height: $default-line-height;
    background-color: $color-bg;
    color: $color-text-normal;
    background-image: linear-gradient(to bottom, $color-bg, $color-bg);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}
