*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: $default-font-size;
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    font-family: $font-regular;
    font-size: $text-regular;
    line-height: $default-line-height;
    background-color: $color-bg;
    color: $color-text-normal;
    background-image: linear-gradient(to bottom, $color-bg, $color-bg);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.section {
    margin: calc(5vw + 5rem) 0;

    &__heading {
        margin-bottom: 5rem;
        letter-spacing: 0.25rem;
    }
}

input, textarea {
    border: none;
    font-family: $font-regular;
    background-color: $color-fg;
    padding: 1rem;
    border-radius: .5rem;
    caret-color: $color-text-accent;
    color: $color-text-normal;

    &:focus {
        outline: 1px solid $color-primary;
    }
}