.container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 $container-padding;
}

.divider {
    border: none;
    border-bottom: .5rem dotted $color-text-normal;
    width: 2.5rem;
    margin: 0 auto;
}

// background color utilities 
.bg-fg {
    background-color: $color-fg;
}

// text utilities
.text-shadow {
    text-shadow: 0 0 .3rem $color-bg;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-italic {
    font-style: italic;
}

// fonts
.font-accent {
    font-family: $font-accent;
}

.font-regular {
    font-family: $font-regular;
}

// text colors
.color-accent {
    color: $color-text-accent;
}

.color-primary {
    color: $color-primary;
}

// alignments
.center-text {
    text-align: center;
}

// margins
.mb-1 {
    margin-bottom: 1rem;
}

.mt-1 {
    margin-top: 1rem;
}