// Colors
$color-white: #ffffff;
$color-light: #f1f2f6;
$color-gray-light: #d2d2d2;
$color-gray-dark: #959595;
$color-primary: #3f3ff7;
$color-dark: #37374e;
$color-black: #2a2a41;

// Font Sizes
$font-regular: "Inter", Tahoma, sans-serif;
$font-accent: "Special Gothic Expanded One", Georgia, serif;

// Text Sizes
$text-body: 1.6rem;
$text-primary: 2.8rem;

// Defaults
$default-font-size: 62.5%;
$default-line-height: 1.6;