*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Inter", Tahoma, sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  background-color: #f1f2f6;
  color: #2a2a41;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button, input, textarea {
  font-family: inherit;
  border: none;
}

.section {
  max-width: 85rem;
  padding: calc(7.5rem + 5vw) 5vw;
  margin: 0 auto;
}
.section__title {
  font-family: "Special Gothic Expanded One", Georgia, serif;
  text-align: center;
  margin-bottom: 3rem;
  font-weight: 400;
}

.font-accent {
  font-family: "Special Gothic Expanded One", Georgia, serif;
}

.text-primary {
  font-size: 3.2rem;
}

.weight-medium {
  font-weight: 500;
}

#btn-nav-toggle {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  border: 1px solid #d2d2d2;
}
#btn-nav-toggle:hover {
  cursor: pointer;
}
#btn-nav-toggle span {
  width: 1.6rem;
  height: 0.15rem;
  display: block;
  background-color: #959595;
  border-radius: 0.4rem;
  transition: all 0.4s ease-in-out;
}

#btn-nav-toggle-bar-1.active {
  transform: translateY(0.25rem) rotate(45deg);
}

#btn-nav-toggle-bar-2.active {
  transform: translateY(-0.25rem) rotate(-45deg);
}

.divider {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.divider span {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #d2d2d2;
}

.tag-filled {
  background-color: #60606f;
  color: #f1f2f6;
  font-size: 1.2rem;
  padding: 0.25rem 0.75rem;
  border-radius: 1.6rem;
  display: inline-block;
}

.tag-outlined {
  border: 1px solid #60606f;
  color: #60606f;
  font-size: 1.2rem;
  padding: 0.25rem 0.75rem;
  border-radius: 1.6rem;
  display: inline-block;
}

@media screen and (min-width: 768px) {
  #btn-nav-toggle {
    display: none;
  }
  .header__nav {
    justify-content: center !important;
  }
  .header__nav--menu {
    display: flex !important;
    flex-direction: row !important;
    position: relative !important;
    right: auto !important;
    top: auto !important;
    height: 5rem !important;
    padding: 0 2.4rem !important;
    border-radius: 4rem !important;
  }
  .header__hero--actions {
    flex-direction: row !important;
    width: auto !important;
  }
  .header__hero--description--content {
    font-size: 3.2rem;
    width: 50rem !important;
  }
}
@keyframes zoomFadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.btn {
  border: none;
  padding: 1.25rem 2rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  font-size: 1.4rem;
}
.btn-white {
  background-color: #ffffff;
  border: 1px solid #d2d2d2;
}
.btn-black {
  background-color: #2a2a41;
  color: #ffffff;
}

.header a {
  color: #959595;
}

.header__nav {
  width: 100%;
  padding: 0 10vw;
  display: inline-flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 2rem;
  left: calc(50vw - 16.2rem);
}
.header__nav--brand {
  background-color: #ffffff;
  border: 1px solid #d2d2d2;
  border-radius: 50%;
  color: #959595;
  height: 5rem;
  width: 5rem;
  display: flex;
}
.header__nav--menu {
  background-color: #ffffff;
  border: 1px solid #d2d2d2;
  border-radius: 2rem;
  padding: 2rem 4rem;
  gap: 4rem;
  position: absolute;
  height: auto;
  right: 10vw;
  top: 5.5rem;
  display: none;
  flex-direction: column;
  gap: 1.5rem;
}
.header__nav--menu.active {
  display: flex;
  animation: zoomFadeIn 0.4s ease-in-out;
}
.header__nav--menu--link a {
  font-size: 1.4rem;
  color: #959595;
}
.header__nav--brand, .header__nav--menu {
  align-items: center;
  justify-content: center;
}

.header__hero {
  padding: calc(7.5rem + 5vw) 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
}
.header__hero--img {
  width: 10rem;
  border-radius: 50%;
  border: 0.5rem solid #ffffff;
  outline: 0.1rem solid #d2d2d2;
}
.header__hero--description {
  margin-bottom: 2rem;
}
.header__hero--description--title {
  font-size: 2rem;
  color: #60606f;
  margin-bottom: 1rem;
  font-weight: 400;
}
.header__hero--description--content {
  font-size: 2.8rem;
  line-height: 1.4;
  width: auto;
}
.header__hero--actions {
  width: 20rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.about-me__description {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-wrap: wrap;
}
.about-me__tools, .about-me__technologies {
  padding: 2.5rem 0 0;
}
.about-me__tools--title, .about-me__technologies--title {
  font-family: "Special Gothic Expanded One", Georgia, serif;
  font-weight: 400;
  text-align: center;
  margin-bottom: 2rem;
}
.about-me__tools--list, .about-me__technologies--list {
  display: flex;
  width: 80%;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}
.about-me__tools--list span, .about-me__technologies--list span {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.about-me__tools--list span img, .about-me__technologies--list span img {
  width: 3.5rem;
}
.about-me__tools--list span p, .about-me__technologies--list span p {
  font-size: 1.2rem;
}

.my-work {
  background-color: teal;
}
.my-work__content {
  background-color: #ffffff;
  border: 1px solid #d2d2d2;
  border-radius: 1.2rem;
  padding: 3.2rem;
  display: flex;
}
.my-work__content--img-container {
  flex-grow: 50%;
}
.my-work__content--img-container img {
  width: 90%;
}
.my-work__content--description {
  flex-grow: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.my-work__content--description--title-sub {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.my-work__content--description--skills-tags {
  display: flex;
}
.my-work__content--description--action {
  align-self: baseline;
}
